@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.page-home {

    .highlighted-products{
        background-color: rgba($color: var.$color-neutro-700, $alpha: 0.94);
        margin-top: 1rem;
        padding: 1rem;
        color: var.$color-neutro-100;
        text-align: center;

        &__container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var.$spacing-md;
            padding: var.$spacing-md;
        }
    }
}